<%- include('partials/header') %>

<div class='ui main text container'>
    <div class="ui segment">
        <h1>WELCOME TO HOME/BLOG PAGE!</h1>
        <p>This blog is fairly simple. You can post and view blogs you've written. It only uses a title, author, and body to 
            complete the post. you can also edit and delete posts as well. 
        </p>
    </div>
</div>



<%- include('partials/footer') %>